<% content_for :page_title, "Teams and Leaderboard" %>
<% if current_user.admin? %>
  <% content_for :actions do %>
    <%= link_to "New", new_team_path,
      class: 'btn btn-sm btn-outline-primary' %>
  <% end %>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th width="5px">#</th>
      <th><%= Team.human_attribute_name(:name) %></th>
      <th># Members</th>
      <th># Submissions</th>
      <th># Votes received</th>
      <th># Votes cast</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% i = 1 %>
    <% @teams.sort{|a,b| b.votes_received_count <=> a.votes_received_count}.each do |team| %>
      <tr>
        <td><%= i %></td>
        <% i += 1 %>
        <td><%= team.name %> <%= if current_user.team == team then content_tag("i", "(yours!)") end %></td>
        <td><%= team.users.count %></td>
        <td><%= team.submissions_count %></td>
        <td><%= team.votes_received_count %></td>
        <td><%= team.votes_cast_count %></td>
        <td>
          <%= link_to "Show", team %>
          <% if current_user.admin? %>
            |
            <%= link_to "Edit", edit_team_path(team) %>
            |
            <%= link_to "Destroy", team, method: :delete, data: { confirm: I18n.t('views.actions.confirm_destroy') } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
