<% content_for :page_title, @team.name.titleize %>

<% if current_user.admin? %>
  <% content_for :actions do %>
    <%= link_to("Edit", edit_team_path(@team),
      class: 'btn btn-sm btn-outline-primary')
      .concat(link_to("Back", teams_path,
      class: 'btn btn-sm btn-outline-secondary')) %>
  <% end %>
<% else %>
  <% content_for :actions do %>
    <%= link_to("Back", teams_path, class: 'btn btn-sm btn-outline-secondary') %>
  <% end %>
<% end %>
<p>
  <strong><%= Team.human_attribute_name(:name) %>:</strong>
  <%= @team.name %>
</p>
<p>
  <strong>Number of submissions:</strong> <%= Submission.where(user_id: @team.users.pluck(:id)).count %>
</p>
<p>
  <strong>Number of votes cast:</strong> <%= Vote.where(user_id: @team.users.pluck(:id)).count %>
</p>
<p><strong>Members:</strong>
  <ul>
    <% @team.users.order(:name).each do |user| %>
      <li><%= link_to user.name, user %></li>
    <% end %>
  </ul>
</p>
<p><strong>Submissions:</strong>
  <ul>
    <% @team.submissions.order(:votes_count).each do |submission| %>
      <li>
        <%= link_to submission.project_name, submission.url, target: "_blank" %>
        by <%= link_to submission.user&.name, submission.user %>,
        Wanna vote on this? <%= link_to "Go here!", submissions_path %>
      </li>
    <% end %>
  </ul>
</p>

