<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> stopped user from being saved:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name, class: "col-sm-2 col-form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :email, class: "col-sm-2 col-form-label" %>
    <%= form.text_field :email, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :github, class: "col-sm-2 col-form-label" %>
    <%= form.text_field :github, class: "form-control" %>
  </div>

  <% if current_user.admin? %>
    <div class="form-group">
      <%= form.label :team_id, class: "col-sm-2 col-form-label" %>
      <%= form.select :team_id, options_from_collection_for_select(@teams, :id, :name, @user.team_id),
        {include_blank: "Select team"}, class: "form-control" %>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
