<% content_for :page_title, "Users" %>
<% if current_user.admin? %>
  <% content_for :actions do %>
    <%= link_to "New user", new_user_path,
      class: 'btn btn-sm btn-outline-primary' %>
  <% end %>
<% end %>

<%= page_entries_info @users %>
<table class="table table-lg table-hover table-striped">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Email</th>
      <th>Github</th>
      <th>Team</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= image_tag(user.gravatar_url(30), width: 30, alt: user.display_name, class: 'rounded-circle') %></td>
        <td>
          <%= user.name %>
          <% if user.admin? %>
            <span data-feather="tool" alt="Admin" title="Admin"></span>
          <% end %>
        </td>
        <td><%= mail_to user.email %></td>
        <td><%= user.github && link_to(user.github, user.github_link, target: "_blank") %></td>
        <td>
          <%= display_team(user.team) %>
        </td>
        <td>
          <%= link_to "Show", user_path(user, page: params[:page]) %>
          <% if current_user.admin? || current_user == user %>
            |
            <%= link_to "Edit", edit_user_path(user, page: params[:page]) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @users %>
