<% content_for :page_title, "Submissions" %>
<% content_for :actions do %>
  <%= link_to "New", new_submission_path,
    class: 'btn btn-sm btn-outline-primary' %>
<% end %>

<%= page_entries_info @submissions %>
<table class="table table-sm table-stripped">
  <thead>
    <tr>
      <th>State</th>
      <th><%= Submission.human_attribute_name(:project_name) %></th>
      <th><%= Submission.human_attribute_name(:url) %></th>
      <th>QR Code</th>
      <th>Submitter</th>
      <th># Votes</th>
      <th>Actions</th>
      <th>Vote!</th>
    </tr>
  </thead>

  <tbody>
    <% @submissions.each do |submission| %>
      <tr>
        <td><%= pr_status(submission.pr_state) %></td>
        <td>
          <%= submission.project_name[0, 250] %>
          <% if current_user.voted_for?(submission) %>
            <span title="You voted for this!">
              <span data-feather="star" class="text-primary" title="You voted for this"></span>
            </span>
          <% end %>
          <% if submission.team == current_user.team %>
            <span title="From your team">
              <span data-feather="shield" class="text-success" title="From your team"></span>
            </span>
          <% end %>
        </td>
        <td><%= link_to submission.url, submission.url, target: "_blank" %></td>
        <td>
          <% if submission.url %>
            <%
                qrcode = RQRCode::QRCode.new(submission.url)
                svg = qrcode.as_svg(
                  color: "000",
                  shape_rendering: "crispEdges",
                  module_size: 11,
                  standalone: true,
                  use_path: true,
                  viewbox: true
                )
            %>
          <div style="width: 50px"><%= svg.html_safe %></div>
          <% end %>
        <td>
          <%= submission.team ? link_to(submission.team.name, submission.team) : link_to(submission.user.display_name, submission.user) %>
        </td>
        <td><%= submission.votes_count %></td>
        <td>
          <%= link_to "Show", submission %>
          <% if submission.user == current_user %>
            <%= link_to "Destroy", submission, method: :delete, data: { confirm: I18n.t('views.actions.confirm_destroy') } %>
          <% end %>
        </td>
        <td>
          <% unless current_user.team %>
            Join a team so you can vote
          <% end %>
          <% if current_user.can_vote_for?(submission) %>
            <%= form_with(model: [submission, Vote.new], local: true) do |form| %>
              <%= button_tag class: "btn text-success d-inline", title: "Vote!" do %>
                <span data-feather="star"></span>
              <% end %>
            <% end %>
          <% elsif current_user.voted_for?(submission) %>
            <%= form_with(model: [submission, current_user.votes.where(submission_id: submission.id).first], local: true, method: :delete) do |form| %>
              <%= button_tag class: "btn text-danger", title: "Delete vote" do %>
                <span data-feather="trash"></span>
              <% end %>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
