<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
    <title>Scoreboard</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
		<%= render 'shared/top_nav' %>
		<div class="container-fluid">
			<div class="row">
				<%= render 'shared/side_nav' %>
				<main role="main" class="col-md-10 ml-sm-auto col-lg-10 px-md-4">
					<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
						<h1 class="h2"><%= yield(:page_title) %></h1>
						<div class="btn-toolbar mb-2 mb-md-0">
							<div class="btn-group mr-2">
								<%= yield(:actions) %>
							</div>
						</div>
          </div>
          <% if notice %>
            <p class="notice text-success"><%= notice %></p>
          <% end %>
          <% if alert %>
            <p class="alert text-danger"><%= alert %></p>
          <% end %>
          <%= yield %>
        </main>
      </div>
    </div>
  </body>
</html>
